<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/about.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    title FOCUS
  body
    div 
      section.header.container-fluid
        div.row
          div.col-md-5
            a.head-name(href="/") FOCUS LAB
          div.col-md-7
            div.nav-bar
              a.nav-item(href="members") Members 
              a.nav-item(href="researchs") Research
              a.nav-item(href="events") Events
              a.nav-item(href="join") Join us
              a.nav-item(href="about") About
      section#main-content 
        div.container 
          div.artical-1
            img(src="images/1.jpg", alt="")
            h1 FOCUS LAB 
            p 南京邮电大学开放计算机与普适感知前沿实验室(FOCUS)团队主要依托“微纳期间与信息系统创新引智基地(111基地)”、“宽带无线通信与传感网技术”教育部重点实验室和”通信与网络技术“国家工程研究中心的支撑，一方面开拓超分辨稀疏信道估计、雷达成像等方向的研究；另外一方面开展人工智能、大数据分析以及深度学习方面的研究，拓展这些理论的应用领域。
            p 团队负责人桂冠教授、博士生导师。团队现有全职教师10名，其中欧洲科学院院士1名、IEEE Fellow 1名、教授4名、副教授1名、高级工程师2名、讲师3名。
      section.footer 
        div.row
          a.footer-title.col-md-2(href="/") FOCUS LAB
          div.col-md-10
            p.footer-content
              a(href="members") members 
              a(href="researchs") research 
              a(href="about") about 
            p.footer-content @Nanjing University of Posts and Telecommunications. FOCUS
  script(type='text/javascript', src='javascripts/jquery.slim.min.js')
  script(type='text/javascript', src='javascripts/popper.min.js')
  script(type='text/javascript', src='javascripts/bootstrap.min.js')