<!DOCTYPE html>
html(lang="en-us")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    title FOCUS
  body
  div
    section.header.container-fluid
        div.row
          div.col-md-5
            a.head-name(href="/") FOCUS LAB
          div.col-md-7
            div.nav-bar
              a.nav-item(href="members") Members 
              a.nav-item(href="research") Research
              a.nav-item(href="javascript:;") Events
              a.nav-item(href="javascript:;") About 
    section.container-fluid.cover-scroll
      div.big-title FOCUS LAB
      a.cover-footer#btn-scroll(href="#member-wrap") Welcome to FOCUS LAB
    section#member-wrap 
      div.container
        div.title 
          h1 FOCUS MEMBERS
          p We work together and attempt to change the world.
      div.container
        div.row.count-wrap
          div.col-md-4.count-item 
            p teacher
            p 4 
          div.col-md-4.count-item 
            p Master&Doctor 
            p unknow
          div.col-md-4.count-item 
            p undergraduate 
            p unkonw
        div.row
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-1.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 春葱
                p 春天的一颗葱
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-2.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 夏花
                p 夏天的一株花
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-3.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 秋叶
                p 秋天的一片叶子
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-4.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 东风
                p 冬天的一股风
        div.row 
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-1.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 春葱
                p 春天的一颗葱
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-2.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 夏花
                p 夏天的一株花
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-3.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 秋叶
                p 秋天的一片叶子
          div.col-md-3.col-sm-6.item-wrap
            a(href="").members-item
              img(src="images/head-4.jpg", alt="图片丢失了")
              div.members-p-wrap
                p 东风
                p 冬天的一股风
        a.find-more(href='') Find More
    section.research-wrap 
      div.container
        div.title 
          h1 Research 
          p We hope our researchs could solve the problems around the world.
          p We bring the convience to the world.
      div.container
        div.row.count-wrap
          div.col-md-4.count-item 
            p Directions
            p 12
          div.col-md-4.count-item 
            p Cooperation 
            p unknow
          div.col-md-4.count-item 
            p Future 
            p unkonw
        div.row 
          div.col-md-3.col-sm-6.item-wrap 
            a.researchs-item(href="")
              div.img-wrap
                img(src="images/research-1.jpg", alt="")
              div.item-content
                p Deep Learning & Picture
                p Research on Image Semantic Segmentation Based on Depth Learning
          div.col-md-3.col-sm-6.item-wrap 
            a.researchs-item(href="")
              div.img-wrap
                img(src="images/research-2.png", alt="")
              div.item-content 
                p WiFi & Location
                p Research on WiFi Based Indoor Location System               
          div.col-md-3.col-sm-6.item-wrap 
            a.researchs-item(href="")
              div.img-wrap
                img(src="images/research-3.jpg", alt="")
              div.item-content
                p Large Data & Communication
                p Analysis of Mobile Communication KPI Based on Large Data
          div.col-md-3.col-sm-6.item-wrap  
            a.researchs-item(href="")
              div.img-wrap
                img(src="images/research-4.jpg", alt="")
              div.item-content 
                p AI & Bill
                p Research on Artificial Intelligence Bill Recognition System
        a.find-more(href='') Find More
    section.events-wrap
      div.container
        div.title 
          h1 Events 
          p There are many iteresting events.
    section.about-wrap
      div.container 
        div.title 
          h1 About Focus
          p A place for learning, discovery, innovation, rexpression and courage.
      div.container
        div.row.count-about 
          div.col-md-4.count-item 
            p unknow 
            p teachers
          div.col-md-4.count-item 
            p unknow 
            p papers
          div.col-md-4.count-item 
            p unknow 
            p students
      div.explore 
        p Explore Focus
        div.explore-nav
          div.row
            div.col-md-4.col-sm-4.explore-item
              a(href="members") Members 
            div.col-md-4.col-sm-4.explore-item
              a(href="") Research 
            div.col-md-4.col-sm-4.explore-item
              a#last-a(href="") Events
    section.footer 
      div.row
        a.footer-title.col-md-2(href="") FOCUS LAB
        div.col-md-10
          p.footer-content
            a(href="") members 
            a(href="") research 
            a(href="") about 
          p.footer-content @Nanjing University of Posts and Telecommunications. FOUCUS
  script(type='text/javascript', src='javascripts/jquery.slim.min.js')
  script(type='text/javascript', src='javascripts/popper.min.js')
  script(type='text/javascript', src='javascripts/bootstrap.min.js')

    