<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/normalize.css")
    link(rel="stylesheet", href="stylesheets/join.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    title FOCUS
  body
    div
      section.header.container-fluid
        div.row
          div.col-md-5
            a.head-name(href="/") FOCUS LAB
          div.col-md-7
            div.nav-bar
              a.nav-item(href="members") Members 
              a.nav-item(href="researchs") Research
              a.nav-item(href="events") Events
              a.nav-item(href="join") Join us
              a.nav-item(href="about") About
      section#main-content 
        div.container
          div.row 
            div.col-md-4
              div.join-item 
                h3 Call for Master Students
                p 基本要求：具有良好的相关专业知识，英语通过四级或以上，热爱科研、体育运动，学生会干部和有意硕博连读的学生优先。
                p 基本待遇：FOCUS实验室可以提供基本的科研条件，如配备高性能计算机和笔记本电脑。根据实力科研能力和贡献，每个月发放助理研究费100~2000元，学校每个月再发600元，共计700～2600元。另外，发表SCI期刊论文1篇奖励1000~6000元（根据期刊级别），申请发明专利1项奖励1000元
                p 毕业要求：SCI期刊论文1篇，发明专利1项。
            div.col-md-4
              div.join-item 
                h3 Call for Doctor Students
                p 基本要求：硕博连读优先考虑，具有良好的相关硕士专业知识，热爱科研、体育运动、性格开朗，立志将来从事科研相关工作。
                p 基本待遇：FOCUS实验室可以提供基本的科研条件，如配备高性能计算机和笔记本电脑。根据实力科研能力和贡献，每个月发放助理研究费1000~3000元，学校每个月再发2350元，基本助研费共计3350～5350元。另外，发表SCI期刊论文1篇奖励1000~6000元（根据期刊级别）。
                p 毕业要求：SCI期刊论文5篇以上。
            div.col-md-4
              div.join-item 
                h3 Call for PostDoctor 
                p 基本待遇：年薪25万元~40万元，根据实际科研能力薪资可再面谈。博士后结束后评估为优秀可留校任教（有编制）。另外，博士后期间发表SCI期刊论文1篇奖励2000~6000元（根据期刊级别）。

      section.footer 
        div.row
          a.footer-title.col-md-2(href="/") FOCUS LAB
          div.col-md-10
            p.footer-content
              a(href="members") members 
              a(href="research") research 
              a(href="about") about 
            p.footer-content @Nanjing University of Posts and Telecommunications. FOUCUS
  script(type='text/javascript', src='javascripts/jquery.slim.min.js')
  script(type='text/javascript', src='javascripts/popper.min.js')
  script(type='text/javascript', src='javascripts/bootstrap.min.js')