a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: #b1040e;
  z-index: 999;
}

.header a {
  color: #fff;
}

.nav-item {
  display: inline-block;
  width: 110px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  transition: background .5s;
}

.nav-item:hover {
  background: #820000;
}

.nav-bar {
  width: 440px;
  margin: 0 auto;
}

.head-name {
  display: block;
  width: 230px;
  font-size: 24px;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  line-height: 50px;
  margin: 0 auto;
}

#main-content{
  padding-top: 50px;
}

.artical-wrap{
  margin: 50px 0;
  padding: 1em 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
}

.artical-pic img {
  width: 100%;
}

.artical-p {
  font-size: 1.2em;
}

.footer{
  padding: 1em 1.5em;
  font-size: 1.5em;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  color: #fff;
  background: #820000;
  letter-spacing: 1px;
}

.footer-content,
.footer-content a{
  color: #fff;
  font-size: .8em;
}

.footer-content a:hover{
  text-decoration: underline;
}

.footer-title{
  color: #fff;
}

.footer-title:hover{
  color: #fff;
}