a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15); 
  z-index: 999;
}

.header a {
  color: #222;
}

.nav-item {
  display: inline-block;
  width: 110px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  transition: background .5s;
}

.nav-item:hover {
  background: #e3e3e3;
}

.nav-bar {
  width: 550px;
  margin: 0 auto;
}

.head-name {
  display: block;
  width: 230px;
  margin: 0 auto;
  font-size: 24px;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  line-height: 50px;
}

#nav-menu{
  display: none;
}

#main-content{
  margin-top: 50px;
  padding: 50px 0;
}

.join-item{
  margin-bottom: 1em;
  height: 30em;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
}

.join-item h3{
  margin: 1em 0;
  padding: .5em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #e38383;
  color: #fff;
  text-align: center;
}

.join-item p{
  padding: 0 1em;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 1.5em;
  font-size: 1.5em;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  letter-spacing: 1px;
}

.footer-content,
.footer-content a{
  color: #222;
  font-size: .8em;
}

.footer-content a:hover{
  text-decoration: underline;
}

.footer-title{
  color: #222;
}

.footer-title:hover{
  color: #222;
}

@media screen and (max-width: 768px){
  .footer{
    position: static;
  }
  .head-name{
    display: inline-block;
    text-align: center; 
    position: relative;
   }
   #nav-menu{
     display: block;
     width: 1.7em;
     height: 1.5em;
     padding: .3em 0;
     border-top: .3em solid #444;
     border-bottom: .3em solid #444;
     background: #444;
     background-clip: content-box;
     position: absolute;
     top: .7em;
     right: 1.5em;
   }
   .nav-bar{
     width: 100vw;
     height: 100vh;
     margin: 0 -1em;
     background: #fff;
     display: none;
   }
   .nav-item{
     width: 100%;
     display: inine-block;
     padding-left: 6em;
     border-top: 1px solid #eee;
     border-bottom: 1px solid #eee;
     text-align: left;
   }
}

