a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15); 
  z-index: 999;
}

.header a {
  color: #222;
}

.nav-item {
  display: inline-block;
  width: 110px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
  transition: background .5s;
}

.nav-item:hover {
  background: #e3e3e3;
}

.nav-bar {
  width: 550px;
  margin: 0 auto;
}

.head-name {
  display: block;
  width: 230px;
  margin: 0 auto;
  font-size: 24px;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  line-height: 50px;
}

#main-content{
  margin-top: 50px;
  padding: 50px 0;
}

.member-wrap{
  border-radius: 5px;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
}

.member-img{
  text-align: center;
}

.member-img img{
  width: 75%;
  border-radius: 50%;
  margin: 0 auto;
}

.member-title{
  padding: 4em 1em 0 1em;
}
.side-p{
  margin: 2em 0;
  padding: 2em 1em;
}

.member-intro{
  margin: 0 auto;
}

.member-intro p{
  font-size: 1.1em;
}

.footer{
  padding: 1em 1.5em;
  font-size: 1.5em;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman, serif!important;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
  letter-spacing: 1px;
}

.footer-content,
.footer-content a{
  color: #222;
  font-size: .8em;
}

.footer-content a:hover{
  text-decoration: underline;
}

.footer-title{
  color: #222;
}

.footer-title:hover{
  color: #222;
}